.Container {
  width: 50%;
  border: 1px solid black;
  margin: 16px;
  border-radius: 6px;
  padding: 15px;
}
@media only screen and (max-width: 768px) {
  .Container {
    width: 80%; /* Adjust the width for smaller screens */
    margin: 8px; /* Adjust the margin */
  }
}

@media only screen and (max-width: 480px) {
  .Container {
    width: 90%; /* Further adjust the width for even smaller screens */
    padding: 10px; /* Adjust the padding */
  }
}
